<h1><%= @post.title %></h1>

<h4><%= @post.content %></h4>

<% @post.categories.each do |category|%>
  <h4><%= category.name %></h4>
<% end %>

<div>
  <% @post.comments.each do |comment| %>
    <%=comment.user.username%> says: <%= comment.content %><br /> <br>
  <% end %>
</div>

<div>
  <% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user_path(user) %>
  <% end %>
</div>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label "Comment" %>
  <%= f.text_field :content %><br>
  <%= f.collection_select :user_id, User.all, :id, :username%><br>
  <%= f.fields_for :user, @post.users.build do |users_fields| %>
    <%= users_fields.text_field :username %>
  <% end %>
  <%= f.submit %>
<% end %>
